[Unit]
Description=kmonad keyboard config

[Service]
Restart=always
RestartSec=3
# ExecStart=%h/.local/bin/kmonad %E/kmonad/config-linux.kbd -l info
ExecStart=kmonad %E/kmonad/config-linux.kbd -l info
Nice=-20

[Install]
WantedBy=default.target
